<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Bichito/Device Information <small class="element"></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="datatable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>PID</th>
                            <th>Arch</th>
                            <th>Op. System</th>
                            <th>OS Version</th>
                            <th>Hostname</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <label class="element"></label>
                            </td>
                            <td>
                                <label id="pid"></label>
                            </td>
                            <td>
                                <label id="arch"></label>
                            </td>
                            <td>
                                <label id="os"></label>
                            </td>
                            <td>
                                <label id="osv"></label>
                            </td>
                            <td>
                                <label id="hostname"></label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <table id="datatable" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>MAC Addr. </th>
                <th>User Name</th>
                <th>Admin/ROOT?</th>
                <th>Last Seen</th>
                <th>Redirector/Last Attached</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label id="mac"></label>
                </td>
                <td>
                    <label id="buser"></label>
                </td>
                <td>
                    <label id="privileges"></label>
                </td>
                <td>
                    <label id="lastonline"></label>
                </td>
                <td>
                    <label id="lastdomain"></label>
                </td>
                <td>
                    <label id="status"></label>
                </td>
            </tr>
        </tbody>
    </table>
             </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Attacks <small class="element"></small></h2>
            <div class="clearfix"></div>
            </div>
              <div class="x_content">
                <!-- start form for validation -->
                <form id="createInjectform" data-parsley-validate>
                  <label for="heard"> Inject Shell </label>
                    <select id="injectType" class="form-control" required>
                        <option value="injectRevSshShell">SSH Rev Shell</option>
                      <option value="injectMsf">Metasploit</option>
                      <option value="injectEmpire">Empire</option>
                    </select>
                    <div>
                      <table class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th>Staging Server</th>
                          </tr>
                        </thead>
                          <tr name="stagings">
                            <td>
                              <select id="stagingOpt" class="form-control" required>
                              </select>
                            </td>
                          </tr>
                        </table>
                    </div>

	               <div id=params></div>

	               <button type="button" class="btn btn-primary" id="submitInject">Inject</button>
	               <button type="button" class="btn btn-primary" id="jobs">Job Log</button>
	               <button type="button" class="btn btn-primary" id="logs">Error Log</button>
	               <button type="button" class="btn btn-primary" id="console">Interact</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id ="binteraction" class="row">
</div>

<script src="./components/bichito/bichito.js"></script>