[Unit]
Description=STime Redirector
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
WorkingDirectory=/usr/local/redirector
ExecStart=/bin/sh -c '/usr/local/redirector/redirector'
Restart=on-failure
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target