          <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-eye"></i> Implants </span>
              <div id="himplants" class="count"></div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-arrows-h"></i> Redirectors </span>
              <div id="hredirectors" class="count"></div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-bug"></i> Bichitos </span>
              <div id="hbichitos" class="count red"></div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-server"></i> VPS </span>
              <div id="hvps" class="count"></div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-cloud"></i> Domains </span>
              <div id="hdomains" class="count"></div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-bolt"></i> Stagings </span>
              <div id="hstagings" class="count"></div>
            </div>
          </div>
          <script src="./components/header/header.js"></script>