
<!-- CSS Datatables -->
<link href="./components/jobs/jobs.css" rel="stylesheet">

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Jobs <small class="element"></small></h2>
                    <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <p class="text-muted font-13 m-b-30">
                      Click Job to Show Results
                </p>
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                <table id="datatable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                        	<th>Cid</th>
                        	<th>Jid</th>
                        	<th>Time</th>
                        	<th>Job</th>
                        	<th>Status</th>
                        </tr>
                    </thead>
                    <tbody class="jtable">
                    </tbody>
                </table>
             </div>
        </div>
    </div>
</div>
<script src="./components/jobs/jobs.js"></script>
