<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Craft Implants <small class="element"></small></h2>
            <div class="clearfix"></div>
            </div>
              <div class="x_content">
                <!-- start form for validation -->
                <form id="createimplantform" data-parsley-validate>

                  <div class="form-group">
                    <label for="iname">Implant Name </label>
                    <input type="text" class="form-control" name="name" placeholder="Implant Name...">
                  </div>

                  <div class="form-group">
                    <label for="timeouts">TTL </label>
                    <input type="text" class="form-control" name="ttl" placeholder="Seconds to die if unconnected...">
                  </div>
                  <div class="form-group">
                    <label for="timeouts">Response Time </label>
                    <input type="text" class="form-control" name="resptime" placeholder="Beaconing back time...">
                  </div>

                  <label for="heard"> Userland Persistence Module OSX</label>
                    <select class="form-control" id="persistenceosx" name="persistenceosx">
                      <option value="none">None</option>
                      <option value="launchd">Launchd_Plist</option>
                    </select>
  
                    <div id=userlandPersistenceOSXParams></div>
                    

                  <label for="heard"> Userland Persistence Module Windows</label>
                    <select class="form-control" id="persistencewindows" name="persistencewindows">
                      <option value="none">None</option>
                      <option value="schtasks">Schtasks_Native</option>
                    </select>
  
                    <div id=userlandPersistenceWindowsParams></div>

                  <label for="heard"> Userland Persistence Module Linux</label>
                    <select class="form-control" id="persistencelinux" name="persistencelinux">
                      <option value="none">None</option>
                      <option value="linuxautostart">Autostart_XDG</option>
                    </select>
  
                    <div id=userlandPersistenceLinuxParams></div>



                  <label for="heard"> Network Module </label>
                    <select class="form-control" id="coms" name="coms">
                      <option value="selfsignedhttpsgo">Self Signed https Go</option>
                      <option value="paranoidhttpsgo">Paranoid Self Signed Https Go</option>
                      <option value="gmailgo">SaaS:Gmail API</option>
                      <option value="gmailmimic">SaaS:Gmail API, Mimic Https Client Fingenprints</option>                      
                      <option value="selfsignedhttpsgoOffline">Self Signed https Go -- No Infraestructure</option>
                      <option value="paranoidhttpsgoOffline">Paranoid Self Signed Https Go-- No Infraestructure</option>
                      <option value="gmailgoOffline">SaaS:Gmail API -- No Infraestructure</option>
                      <option value="gmailmimicOffline">SaaS:Gmail API, Mimic Https Client Fingenprints -- No Infraestructure</option>
                    </select>
                                      
                    <div id=netParams></div>
                
                </form>
                    <!-- end form for validations -->
            </div>
    </div>
  </div>
</div>
<script src="./components/createforms/forms.js"></script>