<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Add Operator <small class="element"></small></h2>
            <div class="clearfix"></div>
            </div>
              <div class="x_content">
                <!-- start form for validation -->
                <form id="addoperatorform" data-parsley-validate>

                  <div class="form-group">
                    <label for="iname">Username </label>
                    <input type="text" class="form-control" name="username" placeholder="Operator Username">
                  </div>
                  <div class="form-group">
                    <label for="iname">Password </label>
                    <input type="password" class="form-control" name="password" placeholder="Operator Password">
                  </div>                 
                  
                  <button type="button" class="btn btn-primary" id="submitaddOperator">Add Operator</button>
                </form>
                    <!-- end form for validations -->
            </div>
    </div>
  </div>
</div>

<script src="./components/createforms/forms.js"></script>