<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Staging <small class="element"></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="datatable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                <th>Name</th>
                <th>Type</th>
                <th>VPS</th>
                <th>Domain</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                <td>
                    <label id="iname"></label>
                </td>
                <td>
                    <label id="type"></label>
                </td>
                <td>
                    <label id="vps"></label>
                </td>
                <td>
                    <label id="domain"></label>
                </td>
                        </tr>
                    </tbody>
                </table>

                  <form role="form" id="delstagingform">
    <div class="form-group">
      <input type="hidden" class="form-control" name="name" id="delval" value="">
    </div>

    <label for="heard"> Interact with Staging </label>
        <select id="interactType" class="form-control" required>
            <option value="fullinteractive">Receive Full Interactive Implant Shell</option>
            <option value="socks5">Receive SOCKS5 in Operator Device</option>
            <option value="kilssh">Kill Active SSH</option>
            <option value="other">Other: Droplet, msf, Empire ...</option>
        </select>
        
        <form id="interactform" data-parsley-validate>
            <div id=interactParams></div>
        </form>

    <button type="button" class="btn btn-primary" id="submitdelstaging">Delete Staging</button>
  </form>
             </div>
        </div>
    </div>
</div>

<script src="./components/staging/staging.js"></script>